{%extends 'layout.njk'%}

{%block banner%}
    <h1>universo <span>marvel</span></h1>
    <p>Aqui você encontra informações de personagens, quadrinhos e filmes que fazem parte do universo Marvel...</p>

    <i class="material-icons">expand_more</i>
{%endblock%}