/*HOME*/
.session__cards{
  display: grid;
  grid-template-columns: repeat(2, 250px);
  column-gap: 47px;
  justify-content: center;
}

.session__card {
  cursor: pointer;
  transition: 0.3s;

  background: var(--gray);
  border-radius: 10px;
  position: relative;
}

.session__card::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  z-index: -1;
  height: 100%;
  background: var(--red);
  transition: .3s all ease
}

.session__card:hover::before{
  width: 100%;
  border-radius: 10px;
}

.session__card:hover {
  transform: scale(1.1);
  transition: 0.3s;

  /* background-position: 0 100%; */
}

.session__img{
  width: 250px;
  height: 350px;
  object-fit: cover;

  border-radius: 10px 10px 0 0;
  border-bottom: solid 5px var(--white);
}

.session__card:first-child{
  transform: translateY(60px);
}

.session__card:last-child{
  transform: translateY(-60px);
}

.session__name {
  color: var(--white);

  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 20px 10px;
  border-radius: 0 0 10px 10px;
  margin: 0;
  height: 100px;
}

.comics .session__card:last-child{
  transform: translateY(-60px);
}

.comics .session__card:first-child{
  transform: translateY(60px);
}

.movies .session__cards{
  grid-template-columns: repeat(4, 250px);
}

.movies .session__card:first-child{
  transform: translateY(0);
}

.movies .session__card:last-child{
  transform: translateY(0);
}

/*CHARACTERS, COMICS, SERIES*/
.all .session__cards{
  display: grid;
  grid-template-columns: repeat(4, 250px);
  row-gap: 60px;

  padding: 55px 0;
}

.all .session__card:first-child{
  transform: translateY(0);
}

.all .session__card:last-child{
  transform: translateY(0);
}

.all .session__title {
  margin: 50px 0 0;
}