:root{
    --white: #FFF;
    --gray: #202020;
    --red: #ED1D24;
    --text-gray: #23272A;
    --text-black: #000000;
    --background-tertiary: #EEE9E3;
} 

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
} 

/*scrool bar*/
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb{
    background: #555; 
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}


h1, a{
    margin: 0;
}

footer {
    background: var(--gray);
    color: var(--white);
    font-weight: 300;
    font-size: 12px;
    line-height: 40px;
    padding: 8px;

    letter-spacing: 0.2em;

    text-align: center;
}

.background-gray{
    background: var(--gray);
    min-height: 626px;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 40px;
}

.banner {
    text-align: center;
    max-width: 1016px;
    margin: 0 auto;
}

.banner_session {
    display: flex;
    gap: 63px;
    justify-content: center;
    align-items: center;
}

.banner_img{
    width: 250px;
    height: 250px;

    object-fit: cover;
    border-radius: 50%;
}

.banner__title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 80px;
    line-height: 120px;
    letter-spacing: -0.05em;
    color: var(--white);
    margin: 110px 0
}

.banner__title-red{
    color: var(--red);
}

.banner__description {
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.1em;
    color: var(--white);
    margin: 0;
}

.banner__icon.material-icons{
    font-size: 55px;
    color: var(--white);
    margin: 50px 0;
}

.session {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    height: 820px;
}

.session__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.session__title{
    font-weight: 900;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 0.1em;
    color: var(--text-gray);

    margin-bottom: 90px;
}

.session__description{
    color: var(--text-black);
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.2em;

    margin: 0;
}

.session__button{
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
    line-height: 45px;
    letter-spacing: 0.1em;

    border: 3px solid var(--red);
    background: var(--gray);
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 18px 70px;
    
    margin: 0 auto;
    margin-top: 100px;
}

.comics{
    background: var(--background-tertiary);
}

.movies{
    display: flex;
    flex-direction: column;
    height: 820px;

    margin: 40px auto;
}

.movies .session__title{
    text-align: center;
    margin-bottom: 10px;
}

.movies .session__description{
    text-align: center;
    margin-bottom: 50px;
}

.movies .session__button{
    margin-top: 60px;
}

/*CHARACTERS, COMICS, SERIES*/
.all .session__description{
    padding: 30px 10px 20px;
}