{% extends 'layout.njk'%}

{% block banner %}
  <div class="banner_session">
    <div class="banner_container-img">
      <img class="banner_img" src="{{serie.thumbnail.path}}/portrait_fantastic.{{serie.thumbnail.extension}}" alt="{{serie.name}}">
    </div>
    <h1 class="banner__title">{{serie.title}}</h1>
  </div>
  <p class="banner__description">{{serie.description}}</p>
  <i class="banner__icon material-icons">expand_more</i>
{% endblock %}

{% block main %}
<div class="container all">
  <section class="session__section">
    <h1 class="session__title">Criadores</h1>
      {% for creator in creators %}
        <p class="session__description">{{creator.fullName}}</p>
      {% endfor %}

    <h1 class="session__title">Quadrinhos</h1>
    <div class="session__cards">
      {% for comic in comics %}
          <div class="session__card" id="{{comic.id}}">
              <img src="{{comic.thumbnail.path}}/portrait_fantastic.{{comic.thumbnail.extension}}" alt="{{comic.name}}" class="session__img">
              <p class="session__name">{{comic.title}}</p>
          </div>
      {% endfor %}
    </div>
  </section>
</div>
{%endblock%}