{% extends 'layout.njk'%}

{%block banner%}
    <h1 class="banner__title">Quadrinhos</span></h1>
    <p class="banner__description">Aqui você pode encontrar os mais diversos quadrinhos da Marvel, fique  à vontade para explorar.</p>

    <i class="banner__icon material-icons">expand_more</i>
{%endblock%}


{% block main %}
  <div class="container all">
    <div class="session__section">
      <div class="session__cards">
        {% for comic in comics %}
          <div class="session__card">
            <img src="{{ comic.thumbnail.path }}/portrait_fantastic.{{ comic.thumbnail.extension }}" alt="{{comic.title}}" class="session__img">
            <p class="session__name">{{ comic.title }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}