{%extends 'layout.njk'%}

{%block banner%}
    <h1 class="banner__title">universo <span class="banner__title-red">marvel</span></h1>
    <p class="banner__description">Aqui você encontra informações de personagens, quadrinhos e filmes que fazem parte do universo Marvel...</p>

    <i class="banner__icon material-icons">expand_more</i>
{%endblock%}

{% block main%}
<div class="container session">

    <section class="session__section">
        <h1 class="session__title">Personagens</h1>
        <p class="session__description">Aqui você encontra personagens do mundo Marvel e quadrinhos, filmes que ele tem participação.</p>
    </section>

    <section class="session__section">
        <div class="session__cards">
            {% for character in characters %}
                <div class="session__card">
                    <img src="{{character.thumbnail.path}}/portrait_fantastic.{{character.thumbnail.extension}}" alt="{{character.name}}" class="session__img">
                    <p class="session__name">{{character.name}}</p>
                </div>
            {% endfor %}
        </div>

        <a href="/characters" class="session__button">Explorar</a>
    </section>
</div>

<div class="comics">
    <div class="container session">
        <section class="session__section">
            <div class="session__cards">
                {% for comic in comics %}
                    <div class="session__card">
                        <img src="{{comic.thumbnail.path}}/portrait_fantastic.{{comic.thumbnail.extension}}" alt="{{comic.title}}" class="session__img">
                        <p class="session__name">{{comic.title}}</p>
                    </div>
                {% endfor %}
            </div>

            <a href="/comics" class="session__button">Explorar</a>
        </section>

        <section class="session__section">
            <h1 class="session__title">Quadrinhos</h1>
            <p class="session__description">Aqui você pode encontrar os mais diversos quadrinhos da Marvel, fique  à vontade para explorar.</p>
        </section>
    </div>
</div>

<div class="container movies">
    <h1 class="session__title">Series</h1>
    <p class="session__description">Aqui é onde você viajar pelas series do Universo Marvel.</p>

    <div class="session__cards">
        {% for serie in series %}
            <div class="session__card">
                <img src="{{serie.thumbnail.path}}/portrait_fantastic.{{serie.thumbnail.extension}}" alt="{{serie.title}}" class="session__img">
                <p class="session__name">{{serie.title}}</p>
            </div>
        {% endfor %}
    </div>

    <a href="/series" class="session__button">Explorar</a>
</div>
{%endblock%}