{%extends 'layout.njk'%}

{%block banner%}
    <h1 class="banner__title">universo <span class="banner__title-red">marvel</span></h1>
    <p class="banner__description">Aqui você encontra informações de personagens, quadrinhos e filmes que fazem parte do universo Marvel...</p>

    <i class="banner__icon material-icons">expand_more</i>
{%endblock%}

{% block main%}
<div class="container session">

    <section class="session__section slideLeftRight">
        <h1 class="session__title">Personagens</h1>
        <p class="session__description">Aqui você encontra personagens do mundo Marvel e quadrinhos, filmes que ele tem participação.</p>
    </section>

    <section class="session__section">
        <div class="session__cards">
                <div class="session__card home slideBottomTop">
                    <img src="{{characters[0].thumbnail.path}}/portrait_fantastic.{{characters[0].thumbnail.extension}}" alt="{{characters[0].name}}" class="session__img">
                    <p class="session__name">{{characters[0].name}}</p>
                </div>

                <div class="session__card home slideTopBottom">
                    <img src="{{characters[1].thumbnail.path}}/portrait_fantastic.{{characters[1].thumbnail.extension}}" alt="{{characters[1].name}}" class="session__img">
                    <p class="session__name">{{characters[1].name}}</p>
                </div>
        </div>

        <a href="/characters" class="session__button">Explorar</a>
    </section>
</div>

<div class="comics">
    <div class="container session">
        <section class="session__section">
            <div class="session__cards">
                <div class="session__card home slideBottomTop">
                    <img src="{{comics[0].thumbnail.path}}/portrait_fantastic.{{comics[0].thumbnail.extension}}" alt="{{comics[0].title}}" class="session__img">
                    <p class="session__name">{{comics[0].title}}</p>
                </div>

                <div class="session__card home slideTopBottom">
                    <img src="{{comics[0].thumbnail.path}}/portrait_fantastic.{{comics[0].thumbnail.extension}}" alt="{{comics[0].title}}" class="session__img">
                    <p class="session__name">{{comics[0].title}}</p>
                </div>
            </div>

            <a href="/comics" class="session__button">Explorar</a>
        </section>

        <section class="session__section slideRightLeft">
            <h1 class="session__title">Quadrinhos</h1>
            <p class="session__description">Aqui você pode encontrar os mais diversos quadrinhos da Marvel, fique  à vontade para explorar.</p>
        </section>
    </div>
</div>

<div class="container movies">
    <h1 class="session__title slideTopBottom">Series</h1>
    <p class="session__description slideTopBottom">Aqui é onde você viajar pelas series do Universo Marvel.</p>

    <div class="session__cards">
        {% for serie in series %}
            <div class="session__card home slideTopBottom">
                <img src="{{serie.thumbnail.path}}/portrait_fantastic.{{serie.thumbnail.extension}}" alt="{{serie.title}}" class="session__img">
                <p class="session__name">{{serie.title}}</p>
            </div>
        {% endfor %}
    </div>

    <a href="/series" class="session__button">Explorar</a>
</div>
{%endblock%}