<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="image/marvel-icon.png">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Universo Marvel</title>
</head>
<body>
    <div class="background-gray">
        <header>
            <div class="container">
                <nav class="links">
                    <a href="*" class="links__item"><img src="image/Marvel_Logo.png" alt="logo marvel" class="links__img"></a>
                    <a href="*" class="links__item">Home</a>
                    <a href="*" class="links__item">Personagens</a>
                    <a href="*" class="links__item">Quadrinhos</a>
                    <a href="*" class="links__item">Filmes</a>
                </nav>
            </div>
        </header>

        <div class="banner">
            {%block banner%}
            {%endblock%}
        </div>
    </div>

    <div class="container characters">
        {%block characters%}
        {%endblock%}
    </div>
</body>
</html>