<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universo Marvel</title>
</head>
<body>
    <header>
        <div class="links">
            <a href="">Marvel</a>
            <a href="*">Home</a>
            <a href="*">Personagens</a>
            <a href="*">Quadrinhos</a>
            <a href="*">Filmes</a>
        </div>
    </header>

    {%block content%}
    {%endblock%}
</body>
</html>