<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/marvel-icon.png">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/cards.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Universo Marvel</title>
</head>
<body>
    <div class="background-gray">
        <header>
            <div class="container">
                <nav class="links">
                    <a class="links__item"><img src="/image/Marvel_Logo.png" alt="logo marvel" class="links__img"></a>
                    <a href="/home" class="links__item">Home</a>
                    <a href="/characters" class="links__item">Personagens</a>
                    <a href="/comics" class="links__item">Quadrinhos</a>
                    <a href="/series" class="links__item">Series</a>
                </nav>
            </div>
        </header>

        <div class="banner">
            {%block banner%}
            {%endblock%}
        </div>
    </div>

    {% block main%}{%endblock%}

    <footer>Feito por paulo beckman</footer>

    <script src="/scripts.js"></script>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        const slide = ScrollReveal({
            distance: '50px',
            duration: 2000,
            reset: true,
        });


        ScrollReveal().reveal('.banner__title', {...slide, origin: 'top', delay: 50});
        ScrollReveal().reveal('.banner__description', {...slide, origin: 'top', delay: 250});

        ScrollReveal().reveal('.slideLeftRight', { ...slide, origin:'left', delay: 50 });
        ScrollReveal().reveal('.slideRightLeft', { ...slide, origin:'right', delay: 50 });
        ScrollReveal().reveal('.slideBottomTop',  { ...slide, origin:'bottom', delay: 50 });
        ScrollReveal().reveal('.slideTopBottom',  { ...slide, origin:'top', delay: 50 });
        ScrollReveal().reveal('.slideTopBottom',  { ...slide, origin:'top', delay: 50 });

        ScrollReveal().reveal('.session__button',  { ...slide, origin:'slideRightLeft', delay: 100 });
    </script> 
</body>
</html>