{% extends 'layout.njk'%}

{% block banner %}
  <h1 class="banner__title">Series</h1>
  <p class="banner__description">Aqui é onde você viajar pelas series do Universo Marvel!</p>
  <i class="banner__icon material-icons">expand_more</i>
{% endblock %}

{% block main %}
  <div class="container all">
    <div class="session__section">
      <div class="session__cards">
        {% for serie in series %}
          <div class="session__card">
            <img src="{{ serie.thumbnail.path }}/portrait_fantastic.{{ serie.thumbnail.extension }}" alt="{{serie.title}}" class="session__img">
            <p class="session__name">{{ serie.title }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}